@charset "UTF-8";

html {
    box-sizing: border-box;
    font-size: 62.5%;/** 1 rem = 10px**/
}

* , *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor {
    max-width: 1000px;
    margin:  0 auto;
    width: 85%;
}

h2 { font-size: 4rem; line-height: 1.2;}

.centrar-texto { text-align: center; }

@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .centrar-columnas {
        justify-content: center;
    }

    .columna-1 { flex: 0 0 calc(8.3% - 1rem); }
    .columna-2 { flex: 0 0 calc(16.6% - 1rem); }
    .columna-3 { flex: 0 0 calc(25% - 1rem); }
    .columna-4 { flex: 0 0 calc(33.3% - 1rem); }
    .columna-5 { flex: 0 0 calc(41.6% - 1rem); }
    .columna-6 { flex: 0 0 calc(50% - 1rem); }
    .columna-7 { flex: 0 0 calc(58.3% - 1rem); }
    .columna-8 { flex: 0 0 calc(66.6% - 1rem); }
    .columna-9 { flex: 0 0 calc(75% - 1rem); }
    .columna-10 { flex: 0 0 calc(83.3% - 1rem); }
    .columna-11 { flex: 0 0 calc(91.6% - 1rem); }
    .columna-12 { flex: 0 0 100%; }
}

/**Contacto***/
.formulario-contacto {
    background: #fff;
}

.formulario-contacto .campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.formulario-contacto .campo label {
    flex: 0 0 8rem;
}

.formulario-contacto .campo input:not([type="submit"]) {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

.formulario-contacto .enviar {
    display: flex;
    justify-content: flex-end;
}

/** Botones **/
.btn {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin-top: 2rem 0;
    color: #ffffff;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    flex: 0 0 100%;
    background: #000000;
}

.btn:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .btn {
        display: inline-block;
        flex: 0 0 auto;
    }
}

