<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Historial</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>

<!--  
<script type="text/javascript" src="${pageContext.request.contextPath}/js/jquery-1.12.0.min.js"></script>

<script>
	$(document).ready(function(){
		$('checkboxall').click(function(){
			if((this).is(":checked"))
				$('.checid').prop('checked', true)
			else
				$('.checid').prop('checked', false	)
		})
	})
</script> 
-->

</head>
<body>
	<main class="contenedor">
        <div class="grid centrar-columnas">
            <div class="columna-10 formulario-contacto">
            	<h2 class="centrar-texto">Historial</h2>
            	
            	<div th:if="${usuarios.isEmpty()}">No hay usuarios registrados</div>
            	
            	<form th:action="users" method="POST">
	            	<div class="lista" th:if="${!usuarios.isEmpty()}" th:each="usuario : ${usuarios}">
	         			<div>
	            			<input th:if="${!usuario.procesado}" type="checkbox" name="usersId[]" th:value="${usuario.idUsuario}" th:id="${usuario.idUsuario}" >
	            			<input th:if="${usuario.procesado}" type="checkbox" disabled>
	            			<span th:text="${usuario.nombre +' '+ usuario.apellido}"></span>
	            		</div>
            			<span class="rojo casilla" th:if="${!usuario.procesado}">Sin Procesar</span>
            			<span class="verde casilla" th:if="${usuario.procesado}">Procesado</span>
	            		
	            	</div>
	            	
	            	<div class="campo enviar">
	                    <input type="submit" value="Procesar" class="btn">
	                </div>
	            </form>
                
            </div>
        </div>
    </main>

</body>
</html>